body {
    font-family: 'Arial', sans-serif;
    background: url('https://t3.ftcdn.net/jpg/06/66/01/72/360_F_666017232_r2ZJJHAP9xwb1bMMuw6G1f9kR1vhF2Yh.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

header h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2em;
    text-shadow: 1px 1px 3px #000;
}

#countdown p {
    margin: 0;
    font-size: 3em;
}

footer {
    margin-top: 20px;
    font-size: 1.2em;
}
